@import "tailwindcss";
@plugin "daisyui"{
  themes : night;
}
@font-face {
  font-family:inscription;
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family:font P;
  src: url(../font/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
*{
  margin:0;
  margin:0;
  box-sizing:border-box;
  font-family:inscription;
  src: url(../font/Poppins-Medium.ttf);
}
body{
  overflow-x: hidden;
}
button{
  font-family: inscription;
  cursor: pointer;
}
.Navlink{
  font-family: inscription;
}
.image{
  border-radius:0 1.5vw 1.5vw 0;
}
.Usercircle{
  width: 1.5vw;
  height: 2.5vw;

}
.CheckCircle{
  width: 1vw;
}
.Usercircle:hover{
  color: #00b7ff;
}
.Star{
  width: 1.2vw;
  color: gold;
}
.Describes{
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.PackageOpenIcon{
  width: 7vw;
  height: 12vw;
}
.AccessoriesOne{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Voir{
  margin: 0 auto;
  display: block;
}
.X{
  width: 1.5vw;
}
.swiper-button-prev{
  left: 0vw !important;
  z-index: 99999;
}
.rejoindre{
  border: solid rgba(255, 255, 255, 0.411) .1vw;
}
.IconeFooter{
  width: 1.3vw;
}
.rejoindre:hover{
  border-color:#0072ff ;
  color: white;
}
.decouvrir:hover{
    box-shadow: 0 0 15px rgba(0,198,255,0.6);
  transition: all .2s ease;
}
.decouvrir{
  margin-left: 11vw;
  display: block;
}
#active{
  color: #00b7ff;
}
.UserProfil{
  border: solid black .1vw;
}
.Logout{
  width: 1.5vw;
}
.Input{
  transition:  .2s;
}
input{
  width: 100%;
  height: 2.5vw;
  background: white;
  border: none;
  border-radius: .4vw;
  outline: none;
  padding: 1vw 2.2vw;
}
label{
  color: #0B0E14;
  font-size: 1vw;
  font-family: inscription;
}
p{
  font-family: inscription;
}
#solgan{
  font-family:font P;
}
#labelImage{
  background: white;
  padding: 0.5vw;
  border-radius: .4vw;
  width: 100%;
}
.DIV:hover .Logout{
  color: white;
}
.DIV:hover .Deconnexion{
  color: white;
}
#SignInSection .formulaire #formSignIn #inscription{
  font-family:inscription ;
}
#SignInSection .formulaire #formSignIn .ipt1 label{
  position: absolute;
  top: .5vw;
  left: 2.2vw;
  transition: .1s;
}
#SignInSection .formulaire #formSignIn{
  border: solid rgba(255, 255, 255, 0.24) .1vw;
}
#SignInSection .formulaire #formSignIn #inscrire{
  font-family: inscription;
}
#SignInSection .formulaire #formSignIn #inscrire:hover{
  box-shadow: 0 0 15px rgba(0,198,255,0.6);
  transition: all .2s ease;
}
/* FOCUS INPUT */
#SignInSection .formulaire #formSignIn .ipt1 #nom:focus ~ #labelNom,#SignInSection .formulaire #formSignIn .ipt1 #nom:valid ~ #labelNom{
  transform: translateY(-1.6vw);
  background: white;
  padding: 0.1vw .5vw;
  border-radius: .2vw;
  text-decoration: underline .2vw;
}
#SignInSection .formulaire #formSignIn .ipt1 #prenom:focus ~ #labelPrenom,#SignInSection .formulaire #formSignIn .ipt1 #prenom:valid ~ #labelPrenom{
  transform: translateY(-1.6vw);
  background: white;
  padding: 0.1vw .5vw;
  border-radius: .2vw;
  text-decoration: underline .2vw;
}
#SignInSection .formulaire #formSignIn .ipt1 #email:focus ~ #labelEmail,#SignInSection .formulaire #formSignIn .ipt1 #email:valid ~ #labelEmail{
  transform: translateY(-1.6vw);
  background: white;
  padding: 0.1vw .5vw;
  border-radius: .2vw;
  text-decoration: underline .2vw;
}
#SignInSection .formulaire #formSignIn .ipt1 #password:focus ~ #labelPassword,#SignInSection .formulaire #formSignIn .ipt1 #password:valid ~ #labelPassword{
  transform: translateY(-1.6vw);
  background: white;
  padding: 0.1vw .5vw;
  border-radius: .2vw;
  text-decoration: underline .2vw;
}
/* LOGIN */
/* #formLogin{
  background: red; 
  display: flex;
  width: 25vw;
  height: 23vw;
  background: #0b0e144f;
  padding:1vw;
  backdrop-filter: blur(.5vw);
  border-radius: 1vw;
  gap: 2vw;
  flex-direction: column;
}
#SignInSection .formulaire #formLogin #inscription{
  font-size: 2vw;
  color: white;
  font-family:inscription ;
  text-align: center;
}
#SignInSection .formulaire #formLogin #nom{
  width: 100%;
  height: 2.5vw;
  background: white;
  border: none;
  border-radius: .4vw;

}
#SignInSection .formulaire #formLogin .ipt1{
  position: relative;
}

#SignInSection .formulaire #formLogin #inscrire{
  color: white;
  font-family: inscription;
  font-size: 1vw;
  /* background: #0084ff; 
  background: linear-gradient(90deg,#00c6ff,#0072ff);
  width: 50%;
  margin: 0 auto;
  height: 2.5vw;
  border-radius: .4vw;
  margin-bottom: 0;
  cursor: pointer;
}
#SignInSection .formulaire #formLogin #inscrire:hover{
  /* background: transparent; */
  /* border: .1vw white solid; 
  box-shadow: 0 0 15px rgba(0,198,255,0.6);
  transition: all .2s ease;
} */
#SignInSection .formulaire #formLogin .ipt1 #email:focus ~ #labelEmail,#SignInSection .formulaire #formLogin .ipt1 #email:valid ~ #labelEmail{
  transform: translateY(-1.6vw);
  background: white;
  padding: 0.1vw .5vw;
  border-radius: .2vw;
  text-decoration: underline .2vw;
}
#SignInSection .formulaire #formLogin .ipt1 #password:focus ~ #labelPassword,#SignInSection .formulaire #formLogin .ipt1 #password:valid ~ #labelPassword{
  transform: translateY(-1.6vw);
  background: white;
  padding: 0.1vw .5vw;
  border-radius: .2vw;
  text-decoration: underline .2vw;
}
.MailIcon{
  width: 1.2vw;
}
.Cliquer:hover{
  text-decoration: underline;
}
.UserIcon{
  width: 1.4vw;
}
#SignInSection .formulaire #formLogin .ipt1 label{
  position: absolute;
  top: .5vw;
  left: 2.2vw;
  transition: .1s;
}